.bg-primary {
    background-color: red !important;
}

.btn-primary {
    background-color: red;
    border-color: red;
}

.nav-pills .nav-link.active {
    background-color: red;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.1);
}

a {
    color: red;
}